<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/Bootstrap/bootstrap.css">
    <title>Resized Image</title>
    <style>
        body{
            height: 100vh;
            background-color: #333;
        }
    </style>
</head>
<body class="d-flex align-items-center justify-content-center">
    <div class="imgContainer">
            <img src="" alt="resizedImg">
    </div>
</body>
</html>